* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 1000px;
}

.left-panel,
.right-panel {
  flex: 1;
}

.left-area {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.4rem;
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
  border: 1px solid #0f0f0f;
  background: #d9d9d9;
  box-shadow: 4px 4px 0 #0f0f0f;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  scrollbar-width: none;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
}

#generate {
  padding: 20px 10px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(
    #ffd966 0%,
    #ffd966 20%,
    #93c47d 20%,
    #93c47d 80%,
    #b4a7d6 80%,
    #b4a7d6 100%
  );
  transition: background-image 0.3s ease;
  box-shadow: 0 6px 0 rgba(88, 88, 88, 0.2);
}

#generate:hover {
  cursor: pointer;
  background-image: linear-gradient(
    #ffd966 0%,
    #ffd966 40%,
    #93c47d 40%,
    #93c47d 60%,
    #b4a7d6 60%,
    #b4a7d6 100%
  );
  transform: translate(0, 6px);
  transition: all 0.2s ease;
  box-shadow: 0 0px 0 rgba(88, 88, 88, 0.2);
}

/* body {
  height: 100vh;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.left-panel {
  border-right: 2px solid black;
  height: 100vh;
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  background: grey;
}
.left-area {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-150%, -50%);
}
.input-text {
  display: flex;
}
canvas {
  margin-left: 15%;
}
textarea {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  scrollbar-width: none;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.459);
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: rgba(182, 182, 182, 0.767);
}
button:active {
  background-color: rgba(255, 255, 255, 0.459);
}
label {
  font-size: 2rem;
}
button {
  position: absolute;
  right: -50%;
  top: 150%;
} */
